/* Estilos personalizados */
body {
  background-size: cover;
  font-family: 'Minecraft', sans-serif; /* Utilizando la fuente Minecraftia */
}

.carousel-container {
  width: 101.2%;
  background-image: url("imagenes/Back C.png");
  background-size: cover;
  border-radius: 5px;
  padding: 5px;
}



.owl-carousel .owl-item img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 300px; /* Altura fija para asegurar que todas las imágenes tengan la misma altura */
  object-fit: contain; /* Ajusta la imagen para que se ajuste completamente dentro del contenedor */
  display: block;
  margin: 0 auto; /* Centra las imágenes */
}


.item {
  display: inline-block;
  margin: 5px; /* Espacio entre los ítems, opcional */
  flex: 0 0 auto; /* Evita que las imágenes se expandan */
}
.item img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  object-fit: cover; /* Ajusta la imagen para que se mantenga dentro del contenedor con el tamaño especificado */
}


/* Estilos para el navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: rgba(253, 185, 230, 0.8) !important; /* Fondo rosa pastel con opacidad */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0px 5px 10px rgba(250, 128, 114, 1); /* Sombra color salmón */
  font-family: 'minecraft-4', sans-serif; /* Utilizando la fuente Minecraftia */
}



.navbar-brand img {
  width: 100px;
  /* Ajusta el tamaño de tu logotipo según sea necesario */
}

.navbar-nav .custom-item .nav-link {
  font-family: 'Minecraft', sans-serif;
  transition: color 0.3s;
  margin-right: 20px;
  font-size: 18px;
  background: linear-gradient(to right, #ff7f7f, #ffafbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav .custom-item .nav-link:hover {
  background: linear-gradient(to right, #fc0026, #ff8c94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navbar-nav .custom-item .nav-link:active {
  color: #ff0000;
}

/* Estilos para el carrusel */
.owl-carousel {
  width: 100%;
  background-image: "/imagenes/Back.jpeg" !important;
  margin-top: 10px;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #1bb125;
}

.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}

.tarjeta-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  /* Nuevos estilos para la sombra */
  box-shadow: 0 0 10px rgba(240, 40, 60, 0.6), 0px 12px 20px rgba(255, 213, 184, 0.8);
  /* Nuevos colores para la sombra: rojo claro y rosa claro */
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}


/* Ajuste para el efecto de hover */
.tarjeta-producto:hover {
  box-shadow: 0 0 15px rgba(148, 255, 228, 0.938), 0px 15px 25px rgb(255, 183, 225); /* Sombra más oscura al pasar el ratón */
}






.tarjeta-producto img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 200px; /* Establece una altura fija para todas las imágenes */
  object-fit: contain; /* Ajusta la imagen para que se ajuste completamente dentro del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}




.contenido {
  padding: 20px;
  text-align: center !important;
}


/* Estilo general para el título */
.Subtitle {
  font-family: 'Minecraft', sans-serif;
  text-align: center;
  color: #FF4500; /* Color rojo que combina con el logo */
  background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(250, 128, 114, 0.5)); /* Gradiente que combina con los colores del logo */
  padding: 10px;
  border-radius: 5px;
  margin: 0px; /* Eliminamos el margen vertical */
  margin-bottom: 20px; /* Agregamos un margen inferior para separar del carousel-container */
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px rgba(250, 128, 114, 1); /* Sombra color salmón */
}


/* Hover effect para el título */
.Subtitle:hover {
  color: #FFFFFF;
  background: linear-gradient(to right, rgba(250, 128, 114, 0.8), rgba(255, 182, 193, 0.8)); /* Invertir gradiente en hover */
  box-shadow: 0px 5px 15px rgba(46, 175, 210, 1);
}

/* Responsivo */
@media (max-width: 768px) {
  .Subtitle {
    font-size: 1.5em;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .Subtitle {
    font-size: 1.2em;
    padding: 6px;
  }
}


.contenido h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contenido p {
  font-size: 14px;
  margin-bottom: 20px;
}

.boton {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Cambio de colores en el gradiente del fondo */
  background-image: linear-gradient(to right, #ff6b6b, #ffb4b4);
}


.boton-container {
  margin-top: auto;
  text-align: center;
  position: relative;
  bottom: 10px;
  left: 0;
  right: 0;
}


.boton:hover {
  background-color: #344f6d;
}

.contenedor-tarjetas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.precio {
  font-size: 16px;
  /* Tamaño de fuente del precio */
  color: #333;
  /* Color del precio */
}

.footer {
  background-color: rgba(253, 185, 230, 0.8); /* Mismo color de fondo que el navbar */
  padding: 30px 0;
  border-radius: 5px; /* Bordes redondeados como el navbar */
  box-shadow: 0px 5px 10px rgba(250, 128, 114, 1); /* Misma sombra que el navbar */
  margin-top: 10px;
}


.footer .container {
  display: flex;
  justify-content: center;
}

.footer .container .row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer .container .row .col-md-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.footer h4 {
  font-size: 18px;
  color: #333;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #555;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #007bff;
}

@media only screen and (max-width: 768px) {
  .contenedor-tarjetas {
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 90%;
    margin-bottom: 20px;
  }
}
